@page "/login"
@using pdfTemplator.Client.Services.Identity
@using pdfTemplator.Shared;
@using pdfTemplator.Shared.Constants
@using pdfTemplator.Shared.Models
@inject IdentityAuthenticationStateProvider authStateProvider
@inject Microsoft.Extensions.Localization.IStringLocalizer<Login> _localizer

<PageTitle>Login</PageTitle>

<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="loginParameters">
    <MudGrid>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudIcon Icon="@CustomIcons.Pdf" Color="Color.Primary" Size="Size.Large" ViewBox="0 0 500 500" Style="width: 100px; height: 100px;" />
            </div>
        </MudItem>

        <DataAnnotationsValidator />

        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.h4">@_localizer["Login"]</MudText>
            </div>
        </MudItem>

        <MudItem xs="12">
            <MudTextField Label="@_localizer["Username"]" T="string" @bind-Value="loginParameters.UserName" Variant="Variant.Outlined" For="@(() => loginParameters.UserName)" />
        </MudItem>

        <MudItem xs="12">
            <MudTextField Label="@_localizer["Password"]" InputType="InputType.Password" Variant="Variant.Outlined" @bind-Value="loginParameters.Password" For="@(() => loginParameters.Password)" />
        </MudItem>

        <MudItem xs="12" Class="d-flex justify-space-between align-center">
            <MudCheckBox Label="@_localizer["Remember me?"]" T="bool" @bind-Checked="loginParameters.RememberMe" Color="Color.Primary" Class="ml-n1"></MudCheckBox>
        </MudItem>

        <MudItem xs="12" Class="d-flex justify-center">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width: 100%;">@_localizer["Sign In"]</MudButton>
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-center">
            <MudButton ButtonType="ButtonType.Button" Href="/register" Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Large" Style="width: 100%;">@_localizer["Register"]</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>

@code {
    LoginParameters loginParameters { get; set; } = new LoginParameters();

    async Task OnSubmit()
    {
        try
        {
            await authStateProvider.Login(loginParameters);
            _navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            _snackBar.Add(ex.Message, Severity.Error);
        }
    }
}