@page "/users"
@using pdfTemplator.Client.Shared.Components
@using pdfTemplator.Shared.Models
@attribute [Authorize]
@inject Microsoft.Extensions.Localization.IStringLocalizer<UsersList> _localizer

<PageTitle>Users</PageTitle>

@if (_list == null)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudTable Hover="true" Elevation="25" Items="_list" Filter="new Func<UserInfo, bool>(Search)">
        <ToolBarContent>
            <div class="justify-center mud-text-align-center">
                <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Primary" Disabled StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">@_localizer["Create"]</MudButton>
            </div>
            <MudSpacer />
            <MudTextField @bind-Value="_searchString" Immediate="true" Placeholder="@_localizer["Search for users"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3"></MudTextField>
        </ToolBarContent>
        <ColGroup>
            <col />
            <col />
            <col />
        </ColGroup>
        <HeaderContent>
            <MudTh Class="clm-row-small"><MudTableSortLabel SortBy="new Func<UserInfo, object>(x => x.Id)">@_localizer["Id"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<UserInfo, object>(x => x.UserName)">@_localizer["UserName"]</MudTableSortLabel></MudTh>
            <MudTh Style="text-align:right">@_localizer["Actions"]</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="UserName">
                <MudHighlighter Text="@context.UserName" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Actions" Style="text-align: right">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Disabled Color="Color.Dark" Size="Size.Small" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Disabled Color="Color.Error" Size="Size.Small" />
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
}