@page "/templates/new"
@page "/templates/{id:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TinyMCE.Blazor
@using pdfTemplator.Client.Pages.PdfInsertables
@inject Microsoft.Extensions.Localization.IStringLocalizer<EditPdfTemplate> _localizer

<PageTitle>Edit template</PageTitle>

<EditForm Model="Template" OnValidSubmit="SaveAsync">
    <FluentValidationValidator />
    @if (Template.Id == 0)
    {
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3 mb-n1" />
            @_localizer["Add template"]
        </MudText>
    }
    else
    {
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Update" Class="mr-3 mb-n1" />
            @_localizer["Update template"] #@Template.Id
        </MudText>
    }
    <MudGrid>
        <MudItem xs="12" md="3">
            <MudTextField T="string" For="@(() => Template.Name)" @bind-Value="Template.Name" Label="@_localizer["Name"]" />
        </MudItem>
        <MudItem xs="12" md="9">
            <MudTextField For="@(() => Template.Description)" @bind-Value="Template.Description" Label="@_localizer["Description"]" />
        </MudItem>
        <MudItem xs="12">
            <MudGrid>
                <MudItem xs="3" md="3">
                    <PdfInsertablesList Template="Template"/>
                </MudItem>
                <MudItem xs="9" md="9">
                    <Editor @bind-Value="Template.Content" Field="@(() => Template.Content)" JsConfSrc="tinyMceConfig" ApiKey="rfpfxrfnp78icateetm3og391acozegprg8fs8pxvxqgcwds" />
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
    <div class="mt-3">
        @if (Template.Id != 0)
        {
            <MudButton DisableElevation Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Secondary">@_localizer["Update"]</MudButton>
        }
        else
        {
            <MudButton DisableElevation Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Success">@_localizer["Save"]</MudButton>
        }
        <MudButton DisableElevation Variant="Variant.Filled" ButtonType="ButtonType.Button" Class="ml-2" Color="Color.Info" Href="/templates">@_localizer["Go back"]</MudButton>
    </div>
</EditForm>